@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.woff);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.modal__label {
  padding-bottom: 24px;
}

.modal__input {
  display: block;
  padding-top: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0);
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  padding-bottom: 12px;
}

.modal__label_type_radio {
  padding-bottom: 8px;
}

.modal__radio-input {
  margin-right: 5px;
}

.modal__submit {
  height: 36px;
  width: 124px;
  border-radius: 4px;
  background-color: #000000;
  opacity: 0.3;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
  margin-top: 16px;
}
