/* src/components/Profile/Profile.css */

.profile {
  display: flex;
  gap: 116px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.profile__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__edit-button {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  border: none;
  cursor: pointer;
}

.profile__signout-button {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: black;
  cursor: pointer;
  border: none;
  padding-top: 8px;
}
