/* src/components/ItemCard/ItemCard.css */

@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url(../../vendor/fonts/CabinetGrotesk-Bold.woff);
}

.card {
  position: relative;
  width: 323px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #fff;
}

.card__header {
  position: absolute;
  display: flex;
  padding: 10px 16px;
  gap: 10px;
}

.card__name {
  margin: 0;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 16px;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 24px;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  flex-grow: 1;
}

.card__like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__like-button img {
  width: 24px;
  height: 24px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}
