.modal__content_type_image {
  padding: 0;
}

.modal__content.modal__content_type_image {
  padding: 0;
}

.modal__image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0;
  width: 100%;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal__delete {
  background: none;
  border: none;
  color: rgba(255, 77, 0, 1);
  padding: 0;
  cursor: pointer;
  padding-right: 32px;
}

.modal__caption {
  margin: 0;
  padding-top: 20px;
  padding-left: 32px;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  padding-top: 12px;
  padding-left: 32px;
  padding-bottom: 32px;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
}

.item__delete-button {
  background: transparent;
  border: none;
  font-size: 16px;
  padding-right: 32px;
  color: rgba(255, 77, 0, 1);
  cursor: pointer;
}

.item__delete-button_hidden {
  display: none;
}

.item__delete-button_visible {
  display: block;
}
