.clothes-section {
  padding-bottom: 20px;
  padding-right: 20px;
}

.clothes-section__header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.clothes-section__text {
  margin: 35px 0 16px;
}

.clothes-section__button {
  border: none;
  color: rgba(0, 0, 0, 0.6);
  margin: 35px 0 16px;
  padding: 0;
  cursor: pointer;
}

.clothes-section__button:hover {
  background-color: #45a049;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.clothes-section__no-items {
  font-size: 18px;
  color: #555;
}
